<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="author" content="hexu" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600" />
    <link rel="stylesheet" href="/static/buyers/plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/buyers/plugins/font-awesome/css/all.css" />
	<link rel="stylesheet" href="/static/buyers/plugins/bxslider/bxslider.min.css" />
    <link rel="stylesheet" href="/static/buyers/css/bootstrap-toggle.min.css"/>
    <link rel="stylesheet" href="/static/buyers/css/style.css" />
	<link rel="stylesheet" href="/static/buyers/css/responsive.css" />
	<link rel="stylesheet" href="/static/buyers/css/ic-helpers.min.css" />
    <style>
        .loginbotton {
            font-size: 16px;
            font-weight: bold;
            width:40px;
            display: inline-block;
            margin-left: -1px;
            margin-top:3px

        }
    </style>
</head>
<body>
	<!-- Left menu -->
	<div class="menu-left hidden-xs">
		<a href="/index/" class="logo-left">
			<img src="/static/buyers/img/logo.png" alt="" />
		</a>


        {% if request.session.username %}
            <div class="nav-item">
                <a href="" class="text-primary">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <span>{{ request.session.username }}</span>
                </a>
                <a class="loginbotton" href="/loginout/">登出</a>
            </div>
        {% else %}
            <div class="nav-item">
                <a href="/login/" class="text-primary">
                    <i class="fas fa-user-circle fa-2x"></i>
                    <span class="loginbotton">登陆</span>
                </a>
		    </div>
        {% endif %}


        <div class="nav-item"></div>

		<div class="nav-item">
			<a href="/buyers/cart/" class="text-primary">
				<i  id="end"  class="fas fa-shopping-bag fa-2x"></i>
			</a>
		</div>

		<div class="nav-item last">
			<a href="javascript:void(0);" onclick="openSearch();" class="text-primary">
				<i class="fas fa-search fa-2x"></i>
			</a>
		</div>
	</div>
	<!-- Left menu -->

	<!-- Right menu -->
	<div class="menu-right-btn">
		<a href="javascript:void(0);" onclick="openNav();"><i class="fas fa-bars"></i></a>
	</div>
	<div id="sidenav" class="side-nav">
		<div class="close-side-btn hidden-xs">
			<a href="javascript:void(0);" onclick="closeNav();">&times;</a>
		</div>

		<div class="cart-side-btn visible-xs">
			<a href="/buyers/cart/">
				<i class="fas fa-shopping-bag"></i>
				<span class="badge">3</span>
			</a>
		</div>

		<div class="account-side-btn visible-xs">
			<a href="/login/"><i class="fas fa-user-circle"></i></a>
		</div>

		<div class="home-side-btn visible-xs">
			<a href="/index/"><i class="fas fa-desktop"></i></a>
		</div>

		<ul>
			<li><a href="/products/0/">全部产品 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
            <li><a href="/products/1/">蓝牙耳机 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="/products/2/">头戴耳机 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="/products/3/">入耳耳塞 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="/products/4/">耳机线材 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>
			<li><a href="/products/5/">前端设备 <img src="/static/buyers/img/icon-headphones.png" class="h-30 align-middle m-l-20" alt="" /></a></li>

			<li><hr class="m-tb-30" /></li>

			<li><a href="#">博客</a></li>
			<li><a href="https://blog.csdn.net/weixin_39561473">CSDN</a></li>
			<li><a href="http://www.coolapk.com/u/1092592">联系我</a></li>
		</ul>

	</div>
	<!-- Right menu -->



    {% block content %}

    {% endblock %}



    <!-- Search overlay -->
	<div id="searchoverlay" class="overlay hidden-xs">
		<div class="search-close-btn">
			<a href="javascript:void(0);" onclick="closeSearch();">&times;</a>
		</div>

		<div class="container m-t-100 m-b-100">
			<div class="row">
				<div class="col-sm-12">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-11 center-block">
								<div class="input-group">
									<input type="text" class="form-control search-input" placeholder="Start typing..." />

									<span class="input-group-btn">
										<button type="submit" class="btn btn-primary search-button">Go!</button>
									</span>
								</div>
							</div>
						</div>
					</form>

					<hr />
				</div>
			</div>

			<div class="row m-t-70 m-b-70">
				<div class="col-sm-12 text-center">
					<h4>we found 3 products for you:</h4>
				</div>
			</div>

			<div class="row m-b-20">
				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product8.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-One</h4>
						</a>

						<p>ST-O S1000</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product9.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-One</h4>
						</a>

						<p>ST-O S2000</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product10.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-One</h4>
						</a>

						<p>ST-O S3000</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>
			</div>

			<div class="row m-b-20">
				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product3.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-Two</h4>
						</a>

						<p>ST-T A100</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product2.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-Two</h4>
						</a>

						<p>ST-T A100</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product1.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-Two</h4>
						</a>

						<p>ST-T A100</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>
			</div>

			<div class="row m-b-20">
				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product4.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-Four</h4>
						</a>

						<p>ST-F M200</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product6.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-Four</h4>
						</a>

						<p>ST-F M200</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>

				<div class="col-sm-4 col-md-4 result-box text-sm-center">
					<div class="col-md-6">
						<a href="#">
							<img src="/static/buyers/img/products/product7.png" class="img-responsive" alt="" />
						</a>
					</div>

					<div class="col-md-6 result-info">
						<a href="#">
							<h4>Staro-Four</h4>
						</a>

						<p>ST-F M200</p>

						<a href="#" class="btn btn-primary btn-sm"><i class="fas fa-shopping-bag"></i>&nbsp; Buy Now</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<a href="#" class="text-primary link-underline">Show all results</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Search overlay -->

	<script src="/static/buyers/plugins/jquery.min.js"></script>
	<script src="/static/buyers/plugins/bootstrap/bootstrap.min.js"></script>
	<script src="/static/buyers/plugins/bxslider/bxslider.min.js"></script>
	<script src="/static/buyers/js/hm.js"></script>
	<script src="/static/buyers/js/bootstrap-toggle.min.js"></script>

	<script src="/static/buyers/js/global.js"></script>
</body>
</html>
