{% load static %}
<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>导航页</title>
    <link rel="stylesheet" href="{% static 'buyers/css/daohang.css' %}">
</head>

<body >

        <a style="position: absolute;left: 40%;top: 20%" href="/index/" class="btn">耳机商城</a>

        <a style="position: absolute;left: 40%;top: 38%" href="" class="btn">个人博客</a>

        <a style="position: absolute;left: 40%;top: 56%" href="https://blog.csdn.net/weixin_39561473" class="btn">csdn</a>

        <a style="position: absolute;left: 40%;top: 74%" href="https://github.com/hexu0614/Individual-Works" class="btn">GitHub</a>


</body></html>