{% include 'buyers/base.html' %}
{% load static %}
<title>产品详情</title>
{% block content %}


    <!-- Content -->
	<div class="content-right">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-5 p-0">
					<div class="product-img-wrapper">
						<div class="product-img-container bg-info">
							<div class="bxslider">
                               {% for img in imgs %}
                                   <div><img style="width: 678px;height: 678px" src="/static/{{ img.img_path }}" alt="" /></div>
                               {% endfor %}
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-7 m-t-100">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 m-b-70" >
							<div class="row">
								<div class="col-sm-8">
									<h2 class="text-xs-center text-uppercase">产品详情</h2>


								</div>

								<div class="col-sm-4">
									<h5  class="text-xs-center text-right text-gray">{{ goods.types.label }}<img src="/static/buyers/img/icon-headphones.png" class="h-30 align-text-bottom m-l-20" alt="" /></h5>
								</div>
							</div>

							<div class="row">
                                <form action="" method="get">
                                    {% csrf_token %}
                                    <div class="col-xs-12 col-sm-12 col-md-12 m-tb-100" style="margin-top: 30px">
                                        <h1>{{ goods.goods_name }}</h1>

                                        <h4 class="text-success">{{ goods.goods_id }}</h4>

                                        <p class="text-justify m-tb-70" style="margin: 50px 0px">{{ goods.goods_description }}</p>

                                        <h2>{{ goods.goods_now_price }}RMB <small class="strike m-l-10">{{ goods.goods_price }}RMB</small></h2>

                                        <div class="m-b-20">
                                            <a href="#" class="thumbnail variant active">
                                                <span class="variant-color" style="background: #8A8B89;"></span>
                                                <span class="variant-name">太空灰</span>
                                            </a>

                                            <a href="#" class="thumbnail variant">
                                                <span class="variant-color" style="background: #202024;"></span>
                                                <span class="variant-name">深邃黑</span>
                                            </a>

                                            <a href="#" class="thumbnail variant">
                                                <span class="variant-color" style="background: #991841;"></span>
                                                <span class="variant-name">诱人红</span>
                                            </a>
                                        </div>
                                        <input type="hidden" id="count" value="1">
                                        <label id="addcart" class="btn btn-success"><i class="fas fa-shopping-bag"></i>&nbsp;加入购物车</label><a href="{{ goods.taobao }}" style="font-size: 10px;font-weight: bold;margin-left: 10px">淘宝购买链接</a>
                                    </div>
                                </form>
								<!-- Tabs -->
								<div class="col-xs-12 col-sm-12 col-md-12">
									<div role="tabpanel">
										<ul class="nav nav-tabs nav-justified text-uppercase m-b-50" role="tablist">
											<li class="active">
												<a href="#tab1" data-toggle="tab">详情</a>
											</li>

											<li>
												<a href="#tab3" data-toggle="tab">产品参数</a>
											</li>

											<li>
												<a href="#tab4" data-toggle="tab">FAQ</a>
											</li>
										</ul>

										<div class="tab-content">
											<div class="tab-pane active" id="tab1">
												{{ goods.goods_content|safe }}
											</div>


											<div class="tab-pane" id="tab3">
												<p class="text-justify m-b-50">虽然许多听众可能认为高分辨率音频伴随着1982年推出的光盘而诞生，但对光盘存储空间的限制总是阻止CD音频（标准化为44.1 kHz / 16位）完全复制原始录制的声音。 MP3的出现和随后的普及只会使这个问题更加明显 - 这些文件的必要压缩会导致音频信息丢失，从而大大降低音频质量。</p>

												<dl class="dl-horizontal">
													<dt>类型</dt><dd>Dynamic</dd>
													<dt>单元直径</dt><dd>45 mm</dd>
													<dt>频率相应</dt><dd>5-40,000 Hz</dd>
													<dt>最大功率</dt><dd>2,000 mW</dd>
													<dt>灵敏度</dt><dd>100 dB/mW</dd>
													<dt>阻抗</dt><dd>35 ohms</dd>
													<dt>重量</dt><dd>290 g</dd>
													<dt>线材</dt><dd>Detachable 1.2 m (3.9') standard cable, detachable 3.0 m (9.8') standard cable, detachable 1.2 m (3.9') cable with in-line controls and microphone for smartphones</dd>
													<dt>接口</dt><dd>3.5 mm gold-plated stereo mini plug, L-shaped</dd>
													<dt>包括配件</dt><dd>Protective pouch</dd>
													<dt>麦克风类型</dt><dd>Condenser</dd>
												</dl>
											</div>

											<div class="tab-pane" id="tab4">
												<h4 class="m-b-30">你有关于该产品的问题吗？</h4>

												<p class="text-justify m-b-30">虽然许多听众可能认为高分辨率音频伴随着1982年推出的光盘而诞生，但对光盘存储空间的限制总是阻止CD音频（标准化为44.1 kHz / 16位）完全复制原始录制的声音。 MP3的出现和随后的普及只会使这个问题更加明显 - 这些文件的必要压缩会导致音频信息丢失，从而大大降低音频质量。</p>

												<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q1">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col1" aria-expanded="false" aria-controls="col1">
																	划线价格
																</a>
															</h4>
														</div>

														<div id="col1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q1">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">答案</span></small>
																</div>

																<p class="text-justify">指商品的专柜价、吊牌价、正品零售价、厂商指导价或该商品的曾经展示过的销售价等，并非原价，仅供参考。</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q2">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col2" aria-expanded="false" aria-controls="col2">
																	未划线价格
																</a>
															</h4>
														</div>

														<div id="col2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q2">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">答案</span></small>
																</div>

																<p class="text-justify">指商品的实时标价，不因表述的差异改变性质。具体成交价格根据商品参加活动，或会员使用优惠券、积分等发生变化，最终以订单结算页价格为准。</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q3">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col3" aria-expanded="false" aria-controls="col3">
																	商家详情页
																</a>
															</h4>
														</div>

														<div id="col3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q3">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">答案</span></small>
																</div>

																<p class="text-justify">商家详情页（含主图）以图片或文字形式标注的一口价、促销价、优惠价等价格可能是在使用优惠券、满减或特定优惠活动和时段等情形下的价格，具体请以结算页面的标价、优惠条件或活动规则为准。</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q4">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col4" aria-expanded="false" aria-controls="col4">
																	安全提示
																</a>
															</h4>
														</div>

														<div id="col4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q4">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">答案</span></small>
																</div>

																<p class="text-justify">交易中请勿使用阿里旺旺以外的聊天工具沟通，不要接收可疑文件和不要点击不明来源的链接，支付前核实好域名和支付详情。 淘宝不会以订单有问题，让您提供任何银行卡、密码、手机验证码！遇到可疑情况可在钱盾“诈骗举报”中进行举报, 安全推荐</p>
															</div>
														</div>
													</div>

													<div class="panel panel-default">
														<div class="panel-heading" role="tab" id="q5">
															<h4 class="panel-title">
																<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col5" aria-expanded="false" aria-controls="col5">
																	内容申明
																</a>
															</h4>
														</div>

														<div id="col5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="q5">
															<div class="panel-body">
																<div class="text-uppercase m-b-15">
																	<small><span class="label label-primary">答案</span></small>
																</div>

																<p class="text-justify">所展示的商品/服务的标题、价格、详情等信息内容系由店铺经营者发布，其真实性、准确性和合法性均由店铺经营者负责</p>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
								<!-- Tabs -->
							</div>
						</div>
					</div>
					<div class="row bg-white">
						<div class="col-xs-12 col-sm-1 col-md-1 vertical-col">
							<div class="recommended-text">Recommended</div>
						</div>

						<div class="col-xs-12 col-sm-10 col-md-10">
							<div class="row">
							{% for i in data %}
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <a href="/productsdetail/{{ i.goods.id }}/" class="product-item">
                                        <img style="width: 231px;height: 231px" src="/static/{{ i.img }}" class="img-responsive p-30" alt="" />
                                    </a>

                                    <a href="/productsdetail/{{ i.goods.id }}/">
                                        <h5 class="text-center m-b-20">{{ i.goods.goods_name }}</h5>
                                    </a>
                                 </div>
							{% endfor %}

							</div>
						</div>

						<div class="col-xs-12 col-sm-1 col-md-1 hidden-xs"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Content -->


<script type="text/javascript" src="/static/buyers/js/jquery.js"></script>
<script type="text/javascript" src="/static/buyers/js/requestAnimationFrame.js"></script>
<script type="text/javascript" src="/static/buyers/js/fly.js"></script>

    <script>
        $(function () {
            var count = $('#count').val();
            $('#addcart').click(function () {
                $.ajax(
                    {
                        url:'/buyers/addCart/{{ goods.id }}/?count='+count,
                        type:'GET',
                        data:'',
                        success:function (data) {
                            if(data['data']===0){
                                window.location.href='/login/'
                            }
                            else {
                                var offset1 = $('#end').offset(), offset2 = $('#addcart').offset(),
                                flyer = $('<img class="u-flyer" src="{% static 'buyers/img/profile-80_1.png' %}"/>');
                                flyer.fly({
                                    start: {
                                        left: offset2.left-50,
                                        top: offset2.top-50,
                                    },
                                    end: {
                                        left: offset1.left,
                                        top: offset1.top,
                                        width: 0,
                                        height: 0
                                    }
                                });
                            }

                        }
                    }
                )
            })
        });

    </script>
{% endblock %}

