<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>耳机商城卖家管理后台</title>
    <link rel="stylesheet" href="/static/shops/css/font.css">
    <link rel="stylesheet" href="/static/shops/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/shops/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/shops/js/xadmin.js"></script>
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">商品管理</a>
        <a href="">商品列表</a>
      </span>
    </div>
    <div class="x-body">
      <table class="layui-table">
        <thead>
          <tr>
		    <th>商品id</th>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品原价</th>
            <th>商品现价</th>
            <th>商品概述</th>
            <th>商品库存</th>
            <th>操作</th>
			</tr>
        </thead>
        <tbody>

         {% for g in goods %}
              <tr>
                    <td>{{ g.id }}</td>
                    <td>{{ g.goods_id }}</td>
                    <td><a href="/shops/goodsdetails/{{ g.id }}" style="text-decoration: none">{{ g.goods_name }}</a></td>
                    <td>{{ g.goods_price }}</td>
                    <td>{{ g.goods_now_price }}</td>
                    <td>{{ g.goods_description }}</td>
                    <td>{{ g.goods_num }}</td>
                    <td >
                        <a href="/shops/goodschange/{{ g.id }}">编辑</a> <a href="/shops/goodsdel/{{ g.id }}">删除</a>
                    </td>
              </tr>
        {% endfor %}

        </tbody>
      </table>

    </div>
   
  </body>

</html>