<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>耳机商城卖家管理后台页面</title>
   
    <link rel="stylesheet" href="/static/shops/css/font.css">
    <link rel="stylesheet" href="/static/shops/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/shops/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/shops/js/xadmin.js"></script>
  </head>
  
  <body>
    <div class="x-body layui-anim layui-anim-up">

        <form class="layui-form" method="post">
            {% csrf_token %}

            <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>分类名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="typelabel" required=""
                  autocomplete="off" class="layui-input">
              </div>
            </div>

          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>分类描述
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="typedescription" required=""
                  autocomplete="off" class="layui-input">
              </div>
          </div>


          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <input  class="layui-btn" type="submit" value="添加">
          </div>
      </form>
    </div>
  </body>
</html>